<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登陆</title>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/login.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="bkgd-img"></div>
		<div class="container">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<div class="lgn-blk"></div>
				<div class="lgn-blk-edge"></div>
				<div class="lgn-pnl">
					<form>
						<div class="alert alert-danger" role="alert">
							<ul>
								<li>登陆的用户：%user不存在</li>
								<li>用户密码错误</li>
							</ul>
						</div>
						<h2 class="text-center"><b>登&nbsp;录</b></h2>
						<br>
						<input type="text" class="form-control form-input" placeholder="用户名" required autofocus>
						<input type="password" class="form-control form-input" placeholder="密码" required>
						<div class="input-group form-control no-padding form-input" id="chkStoreUsr">
							<span class="input-group-addon no-border">
								<input type="checkbox" disabled="disabled">
							</span>
							<button type="button" class="btn btn-default form-control no-border">是否保存用户名</button>
						</div>
						<button type="submit" class="btn btn-lg btn-primary btn-block form-input">登陆</button>
						<button type="button" class="btn btn-lg btn-default btn-block form-input">新注册用户</button>
					</form>
				</div>
			</div>
		</div>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function init()
			{
				$(".bkgd-img").css("width", $(document).width());
				$(".bkgd-img").css("height", $(document).height());

				var hgt = $(".lgn-pnl form").height();
				hgt += parseInt($(".lgn-pnl").css("padding-top"));
				hgt += parseInt($(".lgn-pnl").css("padding-bottom"));
				hgt += parseInt($(".lgn-pnl form").css("margin-top"));
				hgt += parseInt($(".lgn-pnl form").css("margin-bottom"));
				hgt += parseInt($(".lgn-pnl form").css("padding-top"));
				hgt += parseInt($(".lgn-pnl form").css("padding-bottom"));
				//hgt += parseInt($(".lgn-pnl form h2").css("margin-top"));
				$(".lgn-pnl").css("height", hgt);
				$(".lgn-blk").css("height", hgt);
				$(".lgn-blk-edge").css("height", hgt);
			}

			window.onload = function()
			{
				init();
			}
			window.onresize = function()
			{
				init();
			}
		</script>
	</body>
</html>