<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主界面</title>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">空间</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">个人</a></li>
						<li><a href="#">主页</a></li>
						<li><a href="#">好友</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">#User Name#</a></li>
						<li><a href="#"><img class="nav-img-lnk" src="assets/img/setting.png" alt="设置"></a></li>
						<li><a href="#"><img class="nav-img-lnk" src="assets/img/logout.png" alt="退出"></a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input class="form-control search-ipt" type="text" class="form-control" placeholder="用户/动态">
							<a href="#"><img class="search-btn" src="assets/img/search.png"></a>
						</div>
					</form>
				</div>
			</div>
		</nav>

		<div class="container" style="margin-top:70px;">
			<div class="row">
				<div class="col-md-2 pfl">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5IiB5PSI5MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE3MXgxODA8L3RleHQ+PC9nPjwvc3ZnPg==" alt="头像">
					</a>
				</div>
				<div class="col-md-8 hgt-180px">
					<h1 style="color: white">#User Name#</h1>
					<h3 style="color: white">"Lord make me die before make me old"</h3>
					<ol class="breadcrumb loc-path">
						<li class="active">主页</li>
					</ol>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked nav-sdr-lst" role="tablist">
						<li role="presentation" class="active">
							<a class="text-center" href="main.html">
								<img class="icn-20" src="assets/img/home-sel.png">&nbsp;&nbsp;主页
							</a>
						</li>
						<li role="presentation">
							<a class="text-center" href="loglist.html">
								<img class="icn-20" src="assets/img/dairy.png">&nbsp;&nbsp;日志
							</a>
						</li>
						<li role="presentation">
							<a class="text-center" href="gallery.html">
								<img class="icn-20" src="assets/img/gallery.png">&nbsp;&nbsp;相册
							</a>
						</li>
						<li role="presentation">
							<a class="text-center" href="#">
								<img class="icn-20" src="assets/img/music.png">&nbsp;&nbsp;音乐
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8">
					<div class="log-blk">
						<form>
							<textarea class="form-control edt-dry" placeholder="说点什么"></textarea>
							<div class="row">
								<div class="col-md-6">
									<div class="btn-group">
										<button type="button" class="btn btn-default">
											<img class="icn-20" src="assets/img/emoji.png">
										</button>
										<button type="button" class="btn btn-default">
											<img class="icn-20" src="assets/img/code.png">
										</button>
										<button type="button" class="btn btn-default">
											<img class="icn-20" src="assets/img/strong.png">
										</button>
										<button type="button" class="btn btn-default">
											<img class="icn-20" src="assets/img/list.png">
										</button>
									</div>
								</div>
								<div class="col-md-6 text-right">
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu2">
										公开&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
										<li role="presentation"><a href="#">公开</a></li>
										<li role="presentation"><a href="#">仅好友</a></li>
										<li role="presentation"><a href="#">仅自己</a></li>
									</ul>
									<button class="btn btn-primary" type="submit">发布</button>
								</div>
							</div>
						</form>
					</div>
					<div class="log-blk">
						<h2>标题1<span class="blog-post-meta">2016年10月14日</span></h2>
						<p>asfdsfdsfds&nbsp;<a href="#"><img class="icn-20" src="assets/img/feedback.png"></a></p>
						<p class="text-right">由&nbsp;<a href="#">#User Name#</a>&nbsp;撰写</p>
						<hr style="border-top-color: #bbb">
						<div class="text-right wid-100pc">
							<div class="btn-group">
								<button type="button" class="btn btn-default">
									<img class="icn-20" src="assets/img/appreciate.png">
								</button>
								<button type="button" class="btn btn-default">
									<img class="icn-20" src="assets/img/favor.png">
								</button>
								<button type="button" class="btn btn-default">
									<img class="icn-20" src="assets/img/message.png">
									<img class="icn-20" src="assets/img/dltgl-vtl.png">
								</button>
							</div>
						</div>
						<ul class="rmk-lst list-unstyled">
							<li>
								<div class="row">
									<div class="col-md-1">
										<a class="no-btm-mgn thumbnail icn-50" href="#">
											<img src="assets/img/100.jpg">
										</a>
									</div>
									<div class="col-md-11 hgt-50px">
										<p class="rmk-ctt">
											<a href="#">名字1</a>: 回复了些什么&nbsp;
											<a href="#"><img class="icn-16" src="assets/img/feedback.png"></a>
										</p>
										<p class="rmk-tm">2016年10月14日&nbsp;02:40</p>
									</div>
								</div>
								<ul class="sub-rmk">
									<li>
										<div class="row">
											<div class="col-md-1">
												<a class="no-btm-mgn thumbnail icn-50" href="#">
													<img src="assets/img/300.jpg">
												</a>
											</div>
											<div class="col-md-11 hgt-50px">
												<p class="rmk-ctt">
													<a href="#">名字1</a>: 回复了些什么&nbsp;
													<a href="#"><img class="icn-16" src="assets/img/feedback.png"></a>
												</p>
												<p class="rmk-tm">2016年10月14日&nbsp;02:40</p>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<div class="row">
									<div class="col-md-1">
										<a class="no-btm-mgn thumbnail icn-50" href="#">
											<img src="assets/img/200.jpg">
										</a>
									</div>
									<div class="col-md-11 hgt-50px">
										<p class="rmk-ctt"><a href="#">名字2</a>: 再说些什么&nbsp;<a href="#"><img class="icn-16" src="assets/img/feedback.png"></a></p>
										<p class="rmk-tm">2016年10月14日&nbsp;03:00</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="log-blk">
						<h2>标题2<span class="blog-post-meta">2016年10月05日</span></h2>
						<p>dgsgdfgdf</p>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
	</body>
</html>